body {
    background-color: #b34aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}



header {
    background-color: #946092;
    color: #111010;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    border-radius: 50%;
    font-size: 50px;
    border: 2px solid rgba(116, 42, 116, 0.363);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    box-shadow: inset 0 0 10px rgba(252, 4, 252, 0.986), 0 0 10px ;
    transition: all 0.5s ease;
  

}

.header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.social {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    color: white;
}

.social a {
    display:flex;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    font-size: 50px;
    color: white;
    margin: 0 auto;
    transition: all 0.5s ease;
    text-decoration: none;

}

.social a:hover{
    box-shadow: inset 0 0 20px rgba(53, 17, 53, 0.986), 0 0 20px rgba(0, 0, 0, 0.8);
}

.about,
.portfolio {
    padding: 20px;
    background-color: #dfa7da;
}

footer .copy {
    color: white;

}

footer {
    position: relative;
    bottom: 0;
    width: auto;
    padding: 10px;
    background-color: rgb(61, 60, 60);
    height: 30px;
    text-align: center;


}


